<h1>Side Projects</h1>

<h3>We've had a lot of ideas of things to work on, but here is a list of things that have gone slightly beyond that (but not a lot further unfortunately!)</h3>

<p>The main reason these didn't go anywhere is because no one had heard of them. I've written more about <%= link_to "the importance of having an audience here", "http://www.bktk.xyz/posts/the-importance-of-having-an-audience" %>.</p>

<p>As we try more things in the future, we'll make sure to update this page.</p>


<h3>VC Fund My Life UK</h3>
<p>A list of great deals for UK consumers by startups who want to grow at any price!</p>
<p>This is still a work in progress as it is the most recent side project I've been working on, and the one most reliant on first having an audience.<br>
I saw a <%= link_to "Wall Street Journal article", "https://www.wsj.com/articles/how-to-live-in-san-francisco-without-spending-any-money-1525029628?mod=e2tw"%> about a site detailing the ways to live cheaply in San Francisco, and after seeing how simple the website is (i.e. something so simple I have the technical chops to do it!), I thought there was space for a UK equivalent.</p>
<br>

<h3><%= link_to "CryptoYearAgo", "http://cryptoyearago.com/"%></h3>
<p>See the price of major cryptocurrencies exactly a year ago</p>
<%= image_tag('cryptoyearago_btc.png', alt: 'CryptoYearAgo', class: 'blog-image') %>
<p>This was inspired by people moaning about the 50% declines this year in the price of bitcoin, ignoring the 1700% price gains it had in 2017, and was designed to show HODL's that life is still pretty good if you have a slightly longer term perspective. It also had a monetisation strategy with an affiliate link to coinbase in the footer, but as of June 1st 2018, I'm still waiting for that first fee to come (again, the importance of having an audience!)</p>
<br>

<h3><%= link_to "MySpendingPal", "https://www.myspendingpal.com/"%></h3>
<p>Better manage your spending throughout the month to make sure you don't run out of cash</p>
<%= image_tag('msp_screenshot.png', alt: 'MySpendingPal', class: 'blog-image') %>
<p>This was scratching my own itch. Over several years when feeling particularly poor I had tried to track my spending in excel/google sheets but found it cumbersome to do so and would keep stopping. MySpendingPal works out your daily budget, and if you are over/under spending for the month to predict if you can last the month before hitting zero. I'm not actively working on this right now, but hope to pick it up again in the future.</p>
<br>

<h3><%= link_to "Run at Pace", "http://www.runatpace.win/" %></h3>
<p>Work out the pace to set the treadmill at to hit your targets</p>
<%= image_tag('runatpace.png', alt: 'Run at Pace', class: 'blog-image') %>
<p>This is the simplest project (which is saying something on this list!), and ironically the one I am still using the most (maybe a lesson to be learnt there?). I wanted to run 5km in 19 minutes, but didn't know what pace to set the treadmill at hit to this target. Although a simple calculation, I found myself consistently making them for other gym sessions and it was pissing me off, so I thought a simple calculator on a website would benefit other indoor runners as well.</p>
<br>
