<h1>BKTK Portfolio</h1>
<h3>These are investments we have strong opinions on, and this is where we show our track record to the world.</h3>

<p>This blog only started the end of May 2018, so we're not going to buy/sell a million different things at once. These are not investment recommendations, and this does not represent our entire portfolio. Instead think of these as side holdings, accounting for a small percentage of the total, and it will be fun measuring how our decisions stack up against the overall market. Chances are we will be amongst the 90% who underperform</p>

<p>Here is a chronological order of assets we strongly like/dislike, the original post detailing why, and how the position has performed since.</p>

<table>
	<tr>
		<th>Date</th>
		<th>Asset</th>
		<th>Long/Short</th>
		<th>Blog post</th>
		<th>Initial Price</th>
		<th>Latest Price</th>
		<th>Current Return %</th>
	</tr>
	<tr>
		<th><%= Date.new(2018, 6, 2).strftime("%e %B %Y")%></th>
		<th>Ethereum</th>
		<th>Long</th>
		<th><%= link_to "Long Ethereum - trust the developers", "http://www.bktk.xyz/posts/long-ethereum-trust-the-developers" %></th>
			<% initial_price = 590.44 %>
			<% current_price = (JSON.parse(open("https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=USD").read)['USD']) %>
		<th><%= number_to_currency(initial_price) %></th>
		<th><%= number_to_currency(current_price) %></th>
		<th><%= (((current_price / initial_price ) - 1) * 100).round(2) %>%</th>
	</tr>
	<% @positions.each do |position| %>
	<tr>
		<th><%= position.created_at.strftime("%e %B %Y") %></th>
		<th><%= position.asset %></th>
		<th><%= position.long_or_short.capitalize %></th>
		<th><%= link_to(position.post.title, position.post)%></th>
		<th><%= number_to_currency(position.initial_price) %></th>
		<% if position.ticker.present? %>
			<% latest_price = ((JSON.parse(open("https://api.iextrading.com/1.0/stock/#{position.ticker}/quote").read)['latestPrice'])) %>
			<th><%= number_to_currency(latest_price) %></th>
		<% else %>
			<th>N/A</th>
		<% end %>
		<% change = (((latest_price / position.initial_price) - 1) * 100).round(2) if latest_price.present? %>
		<th><%= position.long_or_short == 'long' ? change : change * -1 %>%</th>
	</tr>
	<% end %>
</table>
<br>
<br>
<p><i>Latest price data provided for free by <%= link_to("IEX", "https://iextrading.com/developer")%>. View <%= link_to("IEX’s Terms of Use", "https://iextrading.com/api-exhibit-a/")%>.</i></p>