<% provide(:title, 'Home') %>
<% @posts.each do |post| %>
	<h1><%= link_to post.title, post %></h1>
	<%= image_tag post.image_url.to_s, class: "img-responsive" %>
	<p><%= post.content %></p>
	<p><strong><%= post.author %></strong></p>
	<% if session[:admin] then %>
 		<%= link_to edit_post_path(post), class: "btn btn-default" do %>
 			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
 		<% end %>
	<% end %>
<% end %>